html 
    head
        title Connections
        script(src="/javascripts/connection.js")
        script(src="javascripts/search_users.js")
        link(rel="stylesheet",href="/stylesheets/connection.css")
        link(rel="stylesheet",href="/stylesheets/header.css")
    body(onload='load_connections()')
        include ./header.jade
        div#connections
            //div.connection-div
                div
                h4 Akshay
                h5 Game Developer
