div#header
    div#logo
        h2(onclick="navigate_to_home()") gdNET
    div#header-right
        h2(onclick="navigate_to_connections()")#header-right-net Network
        h2(onclick="navigate_to_requests()")#header-right-prof Requests

