html
    head
        title Events
        script(src="/javascripts/eventdb.js")
        link(rel="stylesheet",href="/stylesheets/landing.css")
    body(onload = 'load_page()')
        div#landing-container
