html
    head
        title Events
        script(src="/javascripts/landing.js")
        link(rel="stylesheet",href="/stylesheets/landing.css")
    body
        div#landing-container
            div.landing-event
                div
                h3 Ludum Dare
                h5 Participants : 
