doctype html
html
  head
    title= title
    link(rel='stylesheet',href='/stylesheets/style.css')
    link(rel="stylesheet",href='/stylesheets/header.css')
    link(rel='stylesheet',href='/stylesheets/navigation.css')
    link(rel='stylesheet',href='/stylesheets/body.css')
    link(rel='stylesheet',href="/stylesheets/signup.css")
    link(rel='stylesheet',href="/stylesheets/forgot.css")
    link(rel='stylesheet',href="/stylesheets/info.css")
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css',crossorigin="anonymous")
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.1.0/css/all.css", integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt", crossorigin="anonymous")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    script(src="javascripts/script.js")
    script(src="javascripts/styling.js")
    script(src="javascripts/profile.js")
    script(src="javascripts/info.js")
    script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
    link(rel='stylesheet',href="/stylesheets/res.css")
    link(rel='stylesheet',href="/stylesheets/otherinfo.css")
  body
    include ./header.jade
    block _body
    block _forgot
    block _signup
    block _reset
    block _info
    block _other
