doctype html
html
    head
        title User Page
        script(src="/javascripts/dynamic_load.js")
        script(src="/javascripts/eventdb.js")
        script(src="/javascripts/request.js")
        link(rel="stylesheet",href="/stylesheets/profile.css")
        link(rel="stylesheet",href="/stylesheets/addevent.css")
    body(onload='dynamic()')
        div#header-profile
            div#header-profile-left
                ul
                    li Logo
            div#header-profile-right
                ul
                    li(onclick='navigate_to_connection() ') Contacts
                    li(onclick='navigate_to_requests()') Profile
        div#body-profile
            div#body-profile-left
                img(src='/images/default.png',width='200px',height='200px')
                div
                h2
                    span SKILLS
                ul#skills
            div#body-profile-mid
                ul#info-name
                h6
                h3 Score : nil
                h2
                    span ABOUT
                div#about-basic
                    h5 Contact
                    ul
                        li E-mail : 
                    ul
                        li Birthday : 
            div(onclick='coll_clicked()')#collaborate-button
                span Organize 
    div(onclick='reset_event()')#container-event
    div#container-add-event
        ul
            li
                input(type="text",placeholder="Event's Name")
            li
                input(type="text",placeholder="Event's Website")
            li
                input(type="text",placeholder="Image Link")
            li
                span Event Date&nbsp;&nbsp;
                input(type="date")
            li
                button(onclick='submit_event()') Submit
            
                

