doctype html
html
    head
        title User Page
        script(src="/javascripts/dynamic_load.js")
        link(rel="stylesheet",href="/stylesheets/profile.css")
    body(onload='dynamic()')
        div#header-profile
            div#header-profile-left
                ul
                    li Logo
            div#header-profile-right
                ul
                    li Contacts
                    li Profile
        div#body-profile
            div#body-profile-left
                img(src='/images/default.png',width='200px',height='200px')
                div
                h2
                    span SKILLS
                ul#skills
            div#body-profile-mid
                ul#info-name
                h6
                h3 Score : nil
                h2
                    span ABOUT
                div#about-basic
                    h5 Contact
                    ul
                        li E-mail : 
                    ul
                        li Birthday : 
            div#collaborate-button
                span Collaborate
            
                

