html
    head
        title Requests
        script(src="/javascripts/request.js")
        link(rel="stylesheet",href="/stylesheets/request.css")
        link(rel="stylesheet",href="/stylesheets/header.css")
        link(rel="stylesheet",href="/stylesheets/header.js")
    body(onload = "load_requests()")
        include ./header.jade
        div#container-request
            //div.request-content
                div
                h5 Name
                div.accept Accept
                div.reject Reject

