extends layout

block _signup
	div#signup-container
		h1 Register
		form(action="/add")
			ul
				li
					input(type="email",placeholder="E-mail")
				li
					input(type="text",placeholder="Username")
				li 
					input(type="password",placeholder="Password")
				li
					input(type="password",placeholder="Confirm Password")
				li
					input(type="submit",value="Register")

