#info-container {
	position : absolute;
	width : 100%;
	top : 30%;
}


#info-container h3 {
	background-color : red;
	text-align : center;
	cursor : pointer;
	border-radius : 20px;
	margin-bottom : 20px;
}

#info-container button {
	position : absolute;
	right : 10px;
	bottom: -50px;
}